<?xml version="1.0" ?>
<robot name="ur16e_manipulator_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find manip_description)/urdf/core.xacro" />
  <!-- <xacro:include filename="$(find manip_description)/urdf/sensors.xacro" /> -->
  <xacro:include filename="$(find manip_description)/urdf/manip_essentials.xacro" />
  <!-- <xacro:include filename="$(find manip_description)/urdf/manip_gazebo.xacro" /> -->

  <link name="world_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <!--############################### manip_base #################################-->
  <xacro:part prefix="arm_base" xyz="0 0 0" type='continuous' axis="0 0 1" parent="world" 
    color="sky_blue"
    inertial_xyz='7.7128E-09 -0.063005 -3.01969999961422E-08' inertial_rpy='0 0 0' mass="1.6004" 
    ixx="0.00552196561445819"
    ixy="7.9550614501301E-10"
    ixz="-1.34378458924839E-09"
    iyy="0.00352397447953875"
    iyz="-1.10071809773382E-08"
    izz="0.00553739792746489"
    mesh_file="package://manip_description/meshes/arm_base.stl" />

  <!--################################ bicep ##############################-->
  <xacro:part prefix="bicep" xyz="-0.05166 0.0 0.20271" rpy='0 0 1.5708' type='continuous' axis="0 1 0" parent="arm_base" 
    color="light_gray"
    visual_xyz="0 0 0" visual_rpy="0 -1.5708 0"
    inertial_xyz='0.12821 3.5589E-06 0.052492' inertial_rpy='0 0 0' mass="1.1198" 
    ixx="0.0012474" 
    ixy="-5.4004E-07" 
    ixz="-0.0013148"
    iyy="0.0072923" 
    iyz="-1.8586E-07" 
    izz="0.0068178"
    mesh_file="package://manip_description/meshes/bicep.stl" />

  <!--################################ bottom_wrist ##############################-->
  <xacro:part prefix="bottom_wrist" xyz="0.0 -0.05194 0.269" type='continuous' axis="0 1 0" parent="bicep" 
    color="sky_blue"
    visual_xyz="0 0 0.13522" visual_rpy="3.14 0 1.5708"
    inertial_xyz='9.1053E-08 -0.069257 -1.86629999995759E-07' inertial_rpy='0 0 0' mass="0.27721" 
    ixx="0.00104290750143942"
    ixy="4.37155302268076E-09"
    ixz="-2.45049603914627E-09"
    iyy="0.000380518373895034"
    iyz="-7.56009835172156E-09"
    izz="0.00106006525067445"
    mesh_file="package://manip_description/meshes/wrist.stl" />

    <!--################################ elbow ##############################-->
    <xacro:part prefix="elbow" xyz="0.0 0 0.13522" axis="0 1 0" type='fixed' parent="bottom_wrist" 
    color="light_gray"
    visual_xyz="0.0 0.05163 0.20994" visual_rpy="0 -1.5708 0"
    inertial_xyz='-0.11109 1.1476E-08 0.046469' inertial_rpy='0 0 0' mass="0.84845" 
    ixx="0.00079656"
    ixy="-7.8011E-10"
    ixz="0.00053616"
    iyy="0.003576"
    iyz="4.6326E-10"
    izz="0.0033698" 
    mesh_file="package://manip_description/meshes/elbow.stl" />

    <!--################################ top_wrist ##############################-->
    <xacro:part prefix="top_wrist" xyz="0.0 0 0.20994" type='continuous' axis="0 1 0" parent="elbow" 
    color="sky_blue"
    visual_xyz="0 0 0.13522" visual_rpy="3.14 0 1.5708"
    inertial_xyz='-9.1053E-08 -0.069257 -1.86629999995759E-07' inertial_rpy='0 0 0' mass="0.27721" 
    ixx="0.00104290750143942"
    ixy="4.37155302268076E-09"
    ixz="-2.45049603914627E-09"
    iyy="0.000380518373895034"
    iyz="-7.56009835172156E-09"
    izz="0.00106006525067445"
    mesh_file="package://manip_description/meshes/wrist.stl" />

    <xacro:include filename="$(find manip_description)/urdf/gripper.xacro" />

</robot>